.cover{
    height: 100vh;
}
img{
    height: 80vh;
    width: 70vw;
    object-fit: contain;
    padding-right: 20vw;
}
.cover__description{
    padding-left: 30vw;
    padding-top: 50vh;
    color: white;
   
    
    
}
.name{
    color: #61ce70 !important;
}
.typography{
    font-size: 2vw !important;
}